/* Responsive */

@media (max-width: 1025px) {
  .hero h1 {
    font-size: 46px;
  }

  .search-bar {
    width: 700px;
    height: 50px;
  }

  .search-bar .location {
    gap: 6px;
    font-size: 16px;
  }

  .search-bar input {
    font-size: 16px;
  }

  /* download app */
  .app {
    width: 90%;
    margin: 100px auto;
  }

  .app .app-left {
    width: 505px;
  }

  .app .app-right h3 {
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.2px;
  }

  .app .app-right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
  }

  /* Popular section */
  .popular-area {
    padding: 20px 25px;
    width: 100%;
  }
  .card h3 {
    font-size: 20px;
  }

  .card-details {
    font-size: 12px;
  }

  .card-details-left {
    margin-right: 20px;
  }

  /* Section How It Works */
  .how-works {
    width: 95%;
  }

  .how-works-cards {
    width: 100%;
  }

  /* section download */
  .download {
    width: 85%;
  }

  /* Footer */
  .footer {
    background: url(../img/footer_background.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .footer-first-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 104px;
    width: 70vw;
  }

  .footer-second-part {
    gap: 80px;
  }
  .footer-second-part-right {
    width: 50vw;
  }
}

@media (max-width: 751px) {
  /* Nav */
  .nav {
    padding: 14px 54px;
  }

  .logo {
    font-size: 26px;
    font-weight: 600;
  }

  /* Hero */
  .hero h1 {
    font-size: 36px;
  }

  .search-bar {
    width: 74vw;
    height: 45px;
  }

  .search-bar .location {
    flex: 1.2;
    gap: 7px;
    font-size: 14px;
  }

  .search-bar input {
    font-size: 14px;
  }

  .search-bar button {
    flex: 1.2;
    font-size: 14px;
  }

  /* download app */
  .app {
    flex-direction: column;
    gap: 20px;
  }

  .app .app-left {
    width: 80%;
  }
  .app .app-right {
    width: 65%;
  }

  .app .app-right h3 {
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.2px;
  }

  .app .app-right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
  }

  /* Popular section */
  .popular-area {
    padding: 20px 25px;
    width: 100%;
  }
  .card h3 {
    font-size: 18px;
  }

  .card-details {
    font-size: 10px;
  }

  .card-details-left {
    margin-right: 14px;
  }

  /* Section How It Works */
  .how-works h3 {
    font-size: 40px;
  }
  .works-card {
    width: 260px;
    height: 325px;
    padding: 18px 26px;
  }

  .works-card h4 {
    font-size: 16px;
  }

  .works-card p {
    font-size: 12px;
  }

  .works-card-img {
    height: 80px;
    width: 96px;
  }

  /* SECTION download */
  .download {
    width: 90%;
  }

  .download-text {
    width: 95%;
  }

  .download-text p {
    font-size: 40px;
  }

  /* Section Testimonial */

  .testimonial {
    width: 90%;
  }

  .testimonial-heading {
    font-size: 40px;
  }

  .testimonial-p {
    width: 90%;
  }

  .testimonial-p p {
    font-size: 14px;
  }

  .testimony {
    gap: 20px;
  }

  .testimony img {
    width: 65px;
  }

  .message {
    width: 400px;
    height: 100px;
  }
  .message p {
    font-size: 22px;
  }

  .company-logo img {
    width: 100px;
  }

  /* Footer */

  .footer-first-part {
    margin-left: 44px;
  }
  .footer-first-part h3 {
    font-size: 24px;
  }

  .menu a {
    font-size: 14px;
  }

  .footer-second-part {
    gap: 80px;
    margin-left: 44px;
  }

  .footer-second-part-right {
    width: 50vw;
  }
}

/* Mobile screen */
@media (max-width: 431px) {
  /* Nav */
  .nav {
    padding: 8px 18px;
  }

  .logo {
    font-size: 16px;
  }

  .nav a {
    font-size: 16px;
  }

  /* hero section */
  .hero {
    width: auto;
    height: 50vw;
    background-size: cover;
  }

  .hero h1 {
    font-size: 24px;
  }

  .search-bar {
    width: 74vw;
    height: 35px;
  }

  .search-bar .location p {
    display: none;
  }

  .search-bar input {
    font-size: 14px;
  }

  .search-bar button {
    flex: 1.2;
    font-size: 14px;
  }

  /* download app */
  .app {
    width: 80%;
    margin: 80px auto;
  }

  .app .app-left {
    width: 100%;
  }
  .app .app-right {
    width: 100%;
  }

  .app .app-right h3 {
    font-size: 36px;
    line-height: 48px;
  }

  /* Popular section */
  .popular-area .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 16px;
  }

  .popular-view-all {
    font-size: 18px;
    font-weight: 500;
  }

  /* grid part */
  .popular-grid {
    grid-template-columns: 1fr;
  }

  .popular-grid-left {
    grid-template-columns: 1fr;
  }

  .popular-grid-right {
    grid-template-columns: repeat(2, 1fr);
  }

  .popular-grid-left .card {
    grid-column: span 1;
  }
  .popular-grid-right .card:nth-child(1),
  .popular-grid-right .card:nth-child(2),
  .popular-grid-right .card:nth-child(3),
  .popular-grid-right .card:nth-child(4),
  .popular-grid-right .card:nth-child(5) {
    grid-column: span 2;
  }

  /* Section How It Works */
  .how-works {
    margin: 50px auto 80px;
  }

  .how-works-cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
  }

  .works-card {
    width: 90%;
    height: auto;
    padding: 20px 40px 80px;
    border-radius: 25px;
  }
  .works-card-img {
    margin-bottom: 10px;
  }

  /* SECTION download */
  .download {
    width: 90%;
    margin: 0 auto 84px;
  }

  .download-body {
    padding: 15px 60px;
    height: auto;
    width: 100%;
  }

  .download-text {
    width: 100%;
    height: auto;
  }

  .download-text p {
    text-align: center;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.2px;
  }

  .btn-download {
    width: 50%;
    height: 40px;
    font-size: 10px;
    margin-right: 20px;
    font-weight: 500;
  }
  .btn-brows {
    width: 35%;
    height: 40px;
    border: none;
    font-size: 10px;
    font-weight: 500;
  }

  /* Section Testimonial */
  .testimonial {
    width: 100%;
  }

  .testimonial-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .testimonial-p {
    width: 90%;
    height: auto;
  }

  .testimonial-p p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
  }

  .testimonial .box {
    margin-top: 20px;
    width: 100%;
  }

  .box .icon {
    height: 24px;
    width: 24px;
  }

  .testimony {
    border-radius: 25px;
    padding: 16px 12px;
    display: flex;
    gap: 4px;
    width: 100%;
    height: auto;
    margin: 0px 10px 0;
  }
  .testimony img {
    width: 45px;
  }

  .message {
    width: auto;
    height: auto;
  }
  .message p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  .company-logo {
    width: 90%;
    margin: 40px auto 10px;
  }
  .company-logo img {
    width: 15%;
  }

  /* Footer */

  .footer {
    overflow: hidden;
    margin-bottom: 0px;
    padding-top: 34px;
    padding-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .footer-first-part {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }
  .footer-first-part h3 {
    font-size: 24px;
  }

  .menu a {
    font-size: 14px;
  }

  .footer-second-part {
    width: 100%;
    height: auto;
    gap: 10px;
    margin-left: 14px;
    margin-top: 44px;
  }

  .footer-second-part-right {
    width: auto;
    justify-content: space-between;
  }

  .footer-second-part p,
  a {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
  }
}
