* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NavBar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 104px;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #f40469;
  cursor: pointer;
  transition: transform 0.3s, text-shadow 0.3s;
}

.logo:hover {
  /* transform: scale(1.001); */
  transform: translateY(-1px);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav a {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  transition: transform 0.3s;
}
.nav a:hover {
  transform: translateY(-1px);
}

/* Hero Section */
.hero {
  background-image: url(../img/Preset.png);
  background-size: contain;
  width: 100%;
  height: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
}

.hero h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
}

.search-bar {
  width: 815px;
  height: 56px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-bar .location {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.search-bar input {
  flex: 3;
  padding: 10px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #c5cbd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.search-bar input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

.search-bar button {
  flex: 1;
  background: #ff006e;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-bar button:hover {
  background: #cc0058;
}

/* Section download APP */
.app {
  width: 80%;
  margin: 160px auto;
  display: flex;
  gap: 64px;
  align-items: center;
}

.app .app-left {
  width: 605px;
}

.app .app-left img {
  width: 100%;
}

.app .app-right {
  display: flex;
  width: 450px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.app .app-right h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3px;
  width: 100%;
  word-wrap: break-word;
}

.app .app-right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.app .app-right button {
  background: #ff006e;
  color: #fff;
  border: none;
  border-radius: 25px;

  width: 246px;
  height: 56px;

  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.app .app-right button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*  */
/* Section Popular */
.popular-area {
  padding: 20px 106px;
  width: 100%;
}

.popular-area .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popular-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.3px;
  text-align: left;
}

.popular-view-all {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* card part */
.popular-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* left part */

/* popular right side */
.popular-grid-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  padding: 20px;
  cursor: pointer;
}

.primary-img {
  width: 100%;
}

.card img {
  transition: all 0.6s ease;
}

.card img:hover {
  transform: scale(1.01);
  filter: brightness(80%);
}

.card h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.3px;
  text-align: left;
}

.card-icon {
  height: 18px;
  width: 18px;
  margin-right: 2px;
}

.card-details {
  display: flex;
  align-items: center;
}

.card-details div {
  display: flex;
  align-items: center;
}

.card-details-left {
  margin-right: 50px;
}

/* Section How It Works */
.how-works {
  margin: 80px auto;
  width: 80%;
  text-align: center;
}

.how-works h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 50px;
}

.how-works-cards {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.works-card {
  width: 288px;
  height: 360px;
  padding: 20px 30px;
  border-radius: 25px;
}

.works-card-1 {
  box-shadow: 4px 0px 4px #5249491a;
  transition: transform 0.3s ease;
}

.works-card-1:hover {
  transform: scale(1.01);
  box-shadow: 6px 0px 5px #5249491a;
}

.works-card-2 {
  position: relative;
  box-shadow: 0px 0px px #5249491a;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.works-card-2::before,
.works-card-2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  background-color: transparent;
  box-shadow: 10px 0 15px #5249491a;
}

.works-card-2::before {
  left: -25px;
}

.works-card-2::after {
  right: -25px;
  transform: scaleX(-1);
}

.works-card-2:hover {
  transform: scale(1.01);
}

.works-card-3 {
  box-shadow: -4px 0px 4px #5249491a;
  transition: transform 0.3s ease;
}

.works-card-3:hover {
  transform: scale(1.01);
  box-shadow: -6px 0px 6px #5249491a;
}

.works-card h4 {
  color: #f40469;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 20px;
}

.works-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

.works-card-img {
  align-items: center;
  height: 100px;
  width: 120px;
  margin: 0 auto;
  background-image: url(../img/Ornament.png);
  background-repeat: no-repeat;
  transform: translate(15px, 0);
}

.works-card-img img {
  transform: translate(-15px, -15px);
  height: 80px;
}

/* section download */
.download {
  width: 80%;
  margin: 0 auto 104px;
}

.download-body {
  width: 100%;
  height: 360px;
  padding: 30px 60px;
  background: url(../img/Background_download.png);
  background-repeat: no-repeat;
  border-radius: 25px;
}

.download-text {
  width: 608px;
  height: 128px;
  margin-bottom: 30px;
}

.download-text p {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3px;
  text-align: left;
}

.btn-download {
  width: 248px;
  height: 56px;
  background: #283646;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  border-radius: 50px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-download:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-brows {
  width: 184px;
  height: 56px;
  color: #fff;
  background: transparent;
  border-radius: 50px;
  border: none;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-brows:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Section Testimonial */
.testimonial {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-heading {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}

.testimonial-p {
  width: 800px;
  height: 48px;
}

.testimonial-p p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

.testimonial .box {
  display: flex;
  align-items: center;
}

.box .icon {
  height: 24px;
  width: 24px;
}

.testimony {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 608px;
  height: 343px;
  margin: 50px 30px 0;
  background: url(../img/Rectangle.png);
}

.message {
  width: 400px;
  height: 108px;
}
.message p {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.3px;
  text-align: center;
}

.person {
  color: #f40469;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

.company-logo {
  display: flex;
  margin-top: 70px;
  gap: 25px;
}

/* Footer */
.footer {
  background: url(../img/footer_background.png);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  padding-top: 104px;
  padding-bottom: 104px;
}

.footer-first-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 104px;
  width: 50vw;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu a {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}

.footer-first-part h3 {
  color: #f40469;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.3px;
  text-align: left;
}

.footer-second-part {
  margin-left: 104px;
  margin-top: 104px;
  display: flex;
  gap: 204px;
}

.footer-second-part p,
a {
  color: #000000d9;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}

.footer-second-part-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-second-part-right {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links a {
  position: relative;
}
.footer-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.footer-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
